html {
	position: relatvie;
	min-height: 100%;
}

body {
	font-family: "Nanum Gothic", sans-serif;
	margin-bottom: 80px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #333333;
	color: #ffffff;
	font-size: 1.3em;
}

.customPointer {
	cursor:pointer;
}